/*!
 * Start Bootstrap - Scrolling Nav (https://startbootstrap.com/template-overviews/scrolling-nav)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-scrolling-nav/blob/master/LICENSE)
 */

header {
  padding: 100px 0 25px;
}

@media (min-width: 992px) {
  header {
    padding: 100px 0 25px;
  }
}

section {
  padding: 150px 0;
}
